alias venv='virtualenv env'
alias act='source env/bin/activate'
alias dact='deactivate'
alias rmo='find . -name *.orig -delete'%
alias aup='antigen selfupdate && antigen update && chmod -R g-w ~/.antigen'
alias grpo='git remote prune origin'
alias gbdm='git branch --merged | egrep -v "(^\*|master|dev)" | xargs git branch -d'