[user]
	name = Yuan Liu
	email = lyncredible@outlook.com
[rerere]
	enabled = true
[pull]
	rebase = true
[push]
	default = current
[fetch]
	prune = true
[core]
    pager =
	preloadindex = true
	deltabasecachelimit = 4g
[pager]
	log = less
[help]
	autocorrect = 50
